.texture {
  position: fixed;
  inset: 0;
  z-index: 70;
  pointer-events: none;
  user-select: none;
  background: url('/site-texture.webp') repeat;
  background-size: 768px 768px;
  mix-blend-mode: soft-light;
  opacity: .32;
}

@media (forced-colors: active), print {
  .texture { display: none; }
}
